body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

.product-card {
  padding-top: 50px;
}

.items {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

body > div,
body > div > div,
body > div > div > div.auth-form {
  height: 100%;
}
